html
  head
    meta(charset='utf-8')
    title mobius cms
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='styles/main.css')

  body

    div.container
      div.header
        ul.nav.nav-pills.pull-right
          li.active
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Contact
        h3.text-muted mobius cms
      div#app.jumbotron
        h1 'Allo, 'Allo!
        p.lead Always a pleasure scaffolding your apps.
        p
          a.btn.btn-lg.btn-success(href='#') Splendid!
      div#content.row.marketing
        div.col-lg-6
          h4 HTML5 Boilerplate
          p
            | HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
          h4 Sass with Compass
          p Compass is an open-source CSS Authoring Framework that uses Sass.
          h4 Bootstrap
          p
            | Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.
          h4 Modernizr
          p
            | Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.
      div.footer
        p ♥ from the Yeoman team
    script(src='scripts/app.js')
